*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.3;
}

img, 
svg, 
video, 
area {
    max-width: 100%;
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
h1,
h2, 
h3, 
h4,
h5,
a {
    font-family: "Oswald", sans-serif;
    margin: 0;
}


p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.header {
    background-color: #2E323F;;
}

.site-tagline-hero {
    padding: 1em 0;
}

.site-tagline-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    font-size: 2.3rem;
    text-decoration: none;
    color: #fff;
}

.hamburger-menu:hover {
    opacity: .6;
    transition: .4s;
    color: #a59678;
}




.nav-list {
    list-style: none;
    text-align: center;
    padding: 0 0 2em 0;
    margin: 0;
    line-height: 3;
}

.navigation {
    display: none;
}

.show {
    display: block
 }

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link-button {
 border: 1px solid black;
 display:inline-block;
 border-radius: 100px;
 background-color: #a59678;;
 padding: .1em 1.5em;
}

.nav-link-button:hover {
    background-color: #fff;
    color: #a59678;
    transition: .6s;
}


.nav-link:hover {
color: #a59678;
font-size: 1.4rem;
transition: .4s;
}




























/* Remember to open up responsive mode when adding content */